/* TEAM DHKS CSS FILE*/

body {
    background: url(https://www.w3schools.com/css/paper.gif);
    background-position: left top;
    background-repeat: repeat;
}

.dropbtn {
    background-color: #AA98A9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn a{
    background-color: #AA98A9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #AA98A9;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: orange;
  }

  footer{
    position:absolute;
    bottom: 0;
    width:100%;
    height: auto;
    background: rgb(0, 0, 74);
  }

  footer iframe{
      margin-top: 20px;
      margin-bottom: 20px;
  }

footer a{
    color: white !important;
}

.etkinlikBodyDiv{
  margin: 2px; /*bir önceki objeye uzaklık*/
  padding: 2px; /*kendi içine olan uzaklık*/
  border: 2px solid black;
}



